.banner {
    margin-top: 0;
    width: auto;
    padding: 200px 0 100px 0;
    background-image: url('../../assets/img/banner.png');
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 80vh;
    
}

.banner .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner h1 {    
    width: 50%;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    color: #FAFAFF;
    
}

.banner p {
    width: 50%;
    font-family: ''Jost'';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FAFAFF;
    margin-top: 2rem;
}

.banner .button {
    display: flex;
    gap: 20px;
    color: #FAFAFF;
} 

.banner .but1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    width: 240px;
    height: 53px;
    background: linear-gradient(90deg, #B88717 -5.35%, #FFD166 21.73%, #F5D281 42.92%, #C48E0E 107.68%);
    /* border-radius: 8px; */
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* align-items: center; */
    /* text-align: center; */
    color: #3E2E00;
}

.banner .but2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
    width: 240px;
    height: 53px;
    background: transparent;
    font-family: 'jost';
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #fff !important;
}



.banner button:hover {
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}


.vision-img {
    width: 100%;
}

/* =================================== */
/* THE RESPONSIVENESS */
/* =================================== */


@media (max-width: 1200px) {

    .banner {
        margin-top: 0;
        padding: 100px auto 0px auto;
    }
    .banner h1 {
        width: 80%;
        font-size: 45px;
        line-height: 3.5rem;
    }
    
    .banner p {
        font-size: 21px;
        line-height: 2.5rem;
        color: #FFFFFF;
    }
    
    .banner span {
        font-size: 23px;
        line-height: 3rem;
    }
}

@media (max-width: 500px) {

    
    .banner {
        margin-top: 0;
        padding: 150px 0 100px 0;
    }
    .banner h1 {
        width: 100%;
       text-align: center;
    }
  .banner .right {
    display: none;
  }
    .banner .left {
        text-align: center;
    }
    .banner form {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }
    .banner h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .banner p {
        font-size: 20px;
    }
    .banner span {
        font-size: 25px;
    }
    .banner button {
        margin :auto;
        margin-top: 2em;
    }
   
}

@media (max-width: 960px) {
    .banner button {
        /* margin :auto; */
        margin-top: 2em;
    }
}


